<h3> Get to Know a numpy Array </h3>

You will use the dataframe <code>df</code> for the following:

In [19]:
import pandas as pd

df = pd.DataFrame({'a': [1,2,3], 'b': [4,5,6]})

1) plot the first three rows:

In [20]:
df.head(3) #df.head() prints first 5 rows

   a  b
0  1  4
1  2  5
2  3  6

2) obtain column  <code> 'a' </code>

In [29]:
df[['a']]

    a
0  11
1  21
2  31

In [25]:
df.iloc[1,0]

2

In [26]:


import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

<hr>
<small>Copyright &copy; 2018 IBM Cognitive Class. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).</small>